<!DOCTYPE html>
<html>
    <head>
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '215325773295414',
                    cookie: true,
                    xfbml: true,
                    version: 'v9.0',
                });
                FB.AppEvents.logPageView();
            };

            (function (d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk.js';
                fjs.parentNode.insertBefore(js, fjs);
            })(document, 'script', 'facebook-jssdk');

            window.onload = function () {
                FB.login(function (response) {
                    console.log(response);
                });
            }
        </script>
        <title>Station Space</title>
    </head>
    <body>
        <h1>Station Space</h1>
        <p>Welcome to Station Space</p>
    </body>
</html>
